      <li class="spacer">&nbsp;</li>
      <li class="game game-top winner"><span class="team-logo"></span> </li>     
      <li class="game game-spacer"><span class="gamedate"></span></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> </li>
