      <li class="spacer">&nbsp;</li>
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %></li>     
      <li class="game game-spacer"><span class="gamedate"></span></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %></li>
