<div class="container">
          <% if !flash[:notice].blank? %>
            <!-- blank => nil? || empty?-->
            <div class="notice_box">
              <%= raw(flash[:notice]) %>
            </div>
          <% end %>
</div>