
  <div class="container">
  <div class="row"><div class="col-md-12">
    <% if !flash[:notice].blank? %>
      <!-- blank => nil? || empty?-->
      <div class="notice_box">
        <%= raw(flash[:notice]) %>
      </div>
    <% end %>
  <div class="video hs-responsive-embed-youtube">
    <iframe src="http://www.twitch.tv/clashofpubs/embed" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/clashofpubs?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from clashofpubs on www.twitch.tv</a>
  </div>

  </div>
  </div>
  </div>
