
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="team-col">
          <div class="row">
            <div class="col-md-12 team-head">
              <span>Teams</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> <a href="#" data-toggle="tooltip" data-placement="top" title="3000 MMR">Lousville</a> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> Lousville
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>