
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="team-col">
          <div class="row">
            <div class="col-md-12 team-head">
              <span>Teams</span>
            </div>
          </div>
          <div class="row">
            <% @teams_hash_array.each do |team| %>
            <div class="col-xs-12 col-sm-6 col-md-3 team">
              <span class="squarebox"></span> <a href="#" data-toggle="tooltip" data-placement="top" title="<%= team[:mmr] %> MMR"><%= team[:team_name] %></a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>