  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="form">

          <h1> Team registrations are full for this season, Sorry! </h1>
          <br>
          <p class="help-block">Already got an account? <%= link_to "Sign in here.", :controller => :players, :action => :login %></p>
        </div>
      </div>
    </div>
  </div>